<div class="profile">
    <img src="/assets/profile.png" alt="default user">
    <h3>User Info:</h3>
    <form [formGroup]="form" (ngSubmit)="submitHandler()">
        <div class="flex">
            <p>Username: </p>
            <input type="text" name="username" id="username" formControlName="username">
        </div>
        <div class="flex">
            <p>Email: </p>
            <input type="email" name="email" id="email" formControlName="email">
        </div>
        <div class="flex">
            <p>Phone: </p>
            <div>
                <select name="select-tel" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                </select>
                <input type="text" name="tel" id="tel" formControlName="tel"> 
            </div>
        </div>
        <button class="red-button" (click)="cancelHandler()" type="button">Cancel</button>
        <button class="green-button">Save</button>
    </form>
</div>